<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Profile Details</h2>
    <li>full name:<%= data1 %> </li>
    <li>surname: </li>
    <li>firstname: </li>
</body>
<script>
    // Make an AJAX request to the server
// fetch('/dashboard')
//   .then(response => response.json())
//   .then(data => {
//     // Log the received data to the console
//     console.log('Received data from the server:', data);

//     // Now you can do whatever you want with the data
//   })
//   .catch(error => {
//     console.error('Error fetching data:', error);
//   });
</script>
</html>